.vscode
.idea
.DS_Store
# openspec/
.github/
docs-open/
tools/export_postman/
AGENTS.md
.agent
main
server
*.log
output/
.playwright-mcp/
gitlab.crt
vendor/*
!vendor/git211.i2docker.site/
vendor/git211.i2docker.site/*
!vendor/git211.i2docker.site/cdbs/
vendor/git211.i2docker.site/cdbs/*
!vendor/git211.i2docker.site/cdbs/disaster-operator/
vendor/git211.i2docker.site/cdbs/disaster-operator/*
!vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/
vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/*
!vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/apis/
vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/apis/*
!vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/apis/disaster/
vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/apis/disaster/*
!vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/apis/disaster/v1/
vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/apis/disaster/v1/*
!vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/apis/disaster/v1/disasterinstance_types.go
!vendor/git211.i2docker.site/cdbs/disaster-operator/pkg/apis/disaster/v1/zz_generated.deepcopy.go
